

.container {
    padding: 0 20px;
    padding-bottom: 40px;
}

/* .input-group[answertype=wrong]:hover { */
    /* visibility: hidden; */
    /* position: relative;
    top: 150px;
    left: 150px;
    z-index: 1;
    background: white; */
/* } */
.input-group {
    background: white;
}


.input-group[answertype=correct] {
    cursor: pointer;
    z-index: 1;
    /* background: white; */
}

.title {
    z-index: 1;
    background: white;
}

.description {
    z-index: 1;
    background: white;
}

.question {
    position: relative;
    z-index: 1;
    background: white;
}

#input-field {
    background: transparent
}

.form-group:hover{
    opacity: 60%;
}

.description {
    opacity: 60%;
    font-style: italic;
}

.card {
    margin: 10px;
    cursor: pointer;
}

.card:hover {
    opacity: 60%;
}

.subhead{
    opacity: 60%;
    font-weight: normal;
}

.border {
    border-radius: 5px;
    opacity: 80%;
}

.alert-success {
    margin-top: 20%;
}

.nav-item {
    cursor: pointer;
}

/* .invalid-feedback {
    display:block;
} */
