

.container {
    padding: 0 20px;
    padding-bottom: 40px;
}

.input-group[answertype=wrong]:hover {
    visibility: hidden;
    position: relative;
    top: 150px;
    left: 150px;
}

.input-group[answertype=correct] {
    cursor: pointer;
}

#input-field {
    background: transparent
}

.form-control {
    word-wrap: break-word;
}

.description {
    opacity: 60%;
    font-style: italic;
}

.card {
    margin: 10px;
    cursor: pointer;
}

.subhead{
    opacity: 60%;
    font-weight: normal;
}
