#change-this {
    color: black;
}

#change-this:hover {
    opacity: 50%;
    /* margin-top: 30px; */
}

.container {
    padding: 0 40px;
}
/* 
#radio1 {
    border: solid 1px;
} */

.input-group[answertype=wrong]:hover {
    visibility: hidden;
    position: relative;
    top: 150px;
}

#input-field {
    background: transparent
}

.form-control {
    word-wrap: break-word;
}
/* 
.input-group[answertype=wrong] {
    display:none;
}

.input-group[answertype=correct] {
    display:none;
} */


